.return-button {
    -fx-font-family: DotGothic16;
    -fx-background-color: white;
    -fx-font-size: 20;
}

.continue-button {
    -fx-font-family: DotGothic16;
    -fx-background-color: white;
    -fx-font-size: 30;
}

.wrong-name-popup-button {
    -fx-font-family: DotGothic16;
    -fx-background-color: white;
    -fx-font-size: 25;
    -fx-border-color: gray;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
    -fx-border-style: solid;
}